/* Para todo o código */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f7f1;
    color: #1e291f;
}
/* Cabeçalho e menu de navegação*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    max-width: 2000px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
/* Logo e Nome do Site*/
.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}
.logo img{
    max-height: 90px;
    width: auto;
    display: block;
}
.logo span{
    font-size: 28px;
    font-weight: 700;
    color: #2d3e2f;
}
/* Menu de Navegação */
.logo-uniube img{
  max-height: 135px;
  width: auto;
  display: block;
}
nav ul {
  list-style: none;
  font-size: 25px;
  display: flex;
  gap: 28px;
  margin: 0;
  padding: 0;
  align-items: center;
}
nav ul li a {
    text-decoration: none;
    color: #263628;
    font-weight: 500;
}
/* Conteúdo principal */
/* Seção principal */
.conteudo {
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 20px;
}

/* Galeria */
.galeria-animais {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 por linha */
  gap: 40px; /* espaço entre os blocos */
  justify-items: center; /* centraliza as figuras */
}

/* Cada figura (imagem + legenda) */
.galeria-animais figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f8f8f8;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Imagem */
.galeria-animais img {
  width: 100%;
  max-width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

/* Legenda */
.galeria-animais figcaption {
  margin-top: 10px;
  font-size: 18px;
  color: #2d3e2f;
  font-weight: 500;
}

/* Efeito hover */
.galeria-animais figure:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

/* Responsividade */
@media (max-width: 768px) {
  .galeria-animais {
    grid-template-columns: 1fr; /* apenas 1 por linha */
  }

  .galeria-animais img {
    height: 250px;
  }
}
footer {
    background-color: #263628;
    color: #ffffff;
    padding: 40px;
    text-align: center;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .roda1 {
    font-size: 20px;
  }

ul li a:hover {
  text-decoration: underline;
}
  
footer a {
    color: #ffffff;
    text-decoration: underline;
    margin: 0 5px;
    font-size: 15px;
}


