/* Para todo o código */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f7f1;
    color: #1e291f;
}
/* Cabeçalho e menu de navegação*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    max-width: 2000px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-sizing: border-box;
}
/* Logo e Nome do Site*/
.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo img {
  max-height: 90px;
  width: auto;
  display: block;
}

.logo span {
  font-size: 30px;
  font-weight: 700;
  color: #2d3e2f;
}
/* Menu de Navegação */
.logo-uniube img{
  max-height: 135px;
  width: auto;
  display: block;
}
nav ul {
  list-style: none;
  font-size: 25px;
  display: flex;
  gap: 28px;
  margin: 0;
  padding: 0;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: #2d3e2f;
  font-weight: 500;
}

.container {
  max-width: 1000px;
  margin: 60px auto;
  background: #ffffff;
  border-radius: 16px;
  padding: 50px 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Seções */
section {
  margin-bottom: 60px;
}

.intro h2 {
  font-size: 2rem;
  color: #2b5538;
  margin-bottom: 20px;
}

.intro p {
  line-height: 1.7;
  font-size: 1.05rem;
  margin-bottom: 15px;
  color: #333;
  text-align: justify;
}
.intro .botao a{
    display: inline-block;
    background-color: #3c6e47;
    color:white;
    padding: 13px 26px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    margin: 35px;
    align-items: center;
    justify-items: center;

}

/* ---------- Impacto ---------- */
.impacto h3 {
  color: #2b5538;
  margin-bottom: 10px;
  font-size: 1.6rem;
}

.dados {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 25px;
  flex-wrap: wrap;
}

.card {
  background-color: #e8f3e7;
  border-radius: 12px;
  padding: 20px 30px;
  width: 180px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.card h4 {
  font-size: 2rem;
  color: #3f7f4f;
  margin-bottom: 8px;
}

/* ---------- Time ---------- */
.time h3 {
  color: #2b5538;
  margin-bottom: 10px;
  font-size: 1.6rem;
}

.membros {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.membro {
  background-color: #f2f9f2;
  border-radius: 12px;
  padding: 20px;
  width: 170px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.membro img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.membro h4 {
  font-size: 1.1rem;
  color: #2b5538;
  margin-bottom: 4px;
}

.membro p {
  font-size: 0.9rem;
  color: #555;
}

ul li a:hover {
  text-decoration: underline;
}

footer {
    background-color: #263628;
    color: #ffffff;
    padding: 40px;
    text-align: center;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .roda1 {
    font-size: 20px;
  }
  
footer a {
    color: #ffffff;
    text-decoration: underline;
    margin: 0 5px;
    font-size: 15px;
}
